.c-head
  position relative
  width: 100vw
  height: 100vh
  display: flex
  .block
    margin auto
    .title
      font-size 40px
      color #fff
      text-align: center
      margin-bottom 20px
    .content
      font-size 24px
      color #fff
      text-align: center
    .author
      font-size 22px
      color #fff
      text-align: center
  .bottom-arrow
    position absolute
    bottom 20px;
    left 50%
    transform: translateX(-50%)
    font-size 30px
    color rgba(255,255,255,.6)
    cursor pointer