.zyf-editor
  width: 100%
  height: 100%
  background-color rgb(240, 242, 245)
  .header
    height: 50px;
    font-size 30px
    margin-bottom: 10px
    .title-input
      display: inline-block
      width: 100%
      height: 100%
      line-height: 50px;
      border: none
      text-indent: 10px
      text-align: center
      outline: none
  .article-content
    position relative
    width: 100%
    height: calc(100% - 60px)
    background-color #fff
    overflow: auto
    .content
      position: absolute
      top 0
      left 50%
      transform: translateX(-50%)
      width: 95%
      height: 100%
      margin 0 auto
      .edited
        outline: none
      .writing
        width: 100%
        height: 200px
        outline none