.c-artile-card
  margin 0 auto
  max-width: 900px
  padding 10px 12px
  background-color #fff
  margin-bottom 12px
  .content
    display: flex
    justify-content: flex-end
    align-items: center
    .img-wrap
      width: 240px
      height 158px
      display: flex
      margin-right 20px
      img
        max-width 240px
        max-height 158px
        margin auto
    .content-words
      width: 100%
      height 159px
      .article-title
        font 18px "微软雅黑", Arial, Helvetica, sans-serif
        font-weight: 600
        margin-bottom 8px
        cursor pointer
  .bottom-info
    display: flex
    justify-content: space-between
    align-items: center
    .info
      display: flex
      justify-content: flex-start
      align-items: center
      .create-time
        margin-left 12px
    .jump-to-content
      color #096
      font-size 14px
      cursor pointer

