.v-index
  position relative
  height: 100vh
  overflow: auto
  .menu-btn
    position: fixed
    top 20px;
    left 20px
    width 100px;
    height 30px;
    font-size 16px
    display: flex
    justify-content: space-around
    align-items: center
    background-color rgba(255,255,255,0)
    border 1px solid #fff
    border-radius: 5px
    color #fff
    cursor pointer